.wallet-asset-container {
  .asset-name {
    font-size: 17px;
    line-height: 17px;
    font-weight: 800;
  }

  .asset-value {
    font-size: 13px;
    line-height: 13px;
    margin-top: 10px;
  }

  .asset-amount {
    font-size: 20px;
    font-weight: 700;
  }
}