.top-header {
  padding-left: 16px;
  padding-right: 16px;
  text-align: right;
  background: #232f3d;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;

  .header-logo {
    // align-items: "center";
    // justify-content: "center";
    .logo-name {
      font-size: 24px;
      color: #177ddc;
      font-family: cursive;
      font-weight: bold;
      vertical-align: middle;
    }
  }

  .avatar-container {
    cursor: pointer;
    .ant-avatar {
      background-color: #177ddc;
      margin-right: 6px;
    }

    .avatar-email-container {
      font-size: 16px;
      color: #177ddc;
      font-weight: bold;
    }
  }
}

.ant-dropdown-menu {
  margin-top: 10px;
}
