@media screen and (max-width: 992px) {
  .mobile-bottom-menu {
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
    height: 72px;
    background-color: #232f3d;
    position: absolute;
    bottom: 0px;
    width: 100%;

    .icon-row {
      font-size: 25px;
    }

    .title-row {
      font-size: 15px;
      margin-top: 3px;
    }
  }
}