.login-container {
  .ant-card {
    // max-width: 40%;
    margin: auto;
    margin-top: 28%;
    border-color: #177ddc;
    border-width: 2px;
    justify-content: center;
    align-items: center;

    .ant-card-head {
      text-align: center;
      border-bottom: 1px solid #177ddc;
    }

    .login-button {
      width: 100%;
    }

    .title-container {
      .login-app-logo {
        margin-right: 10px;
        img {
          width: 60px;
        }
      }
      .app-name {
        font-size: 27px;
        margin-right: 6px;
        color: #177ddc;
        font-family: cursive;
        font-weight: bold;
        vertical-align: middle;
      }
    }
  }
}
