@import "~antd/dist/antd.dark.css";

body,
.ant-layout {
  background-color: #161a1b;
}

#root {
  height: 100%;
}

.App {
  min-height: 100%;

  .ant-layout {
    min-height: 100vh;
  }

  #components-layout-demo-responsive .logo {
    height: 50px;
    margin: 7px;
    text-align: center;
  }

  .site-layout-background {
    // background: #0e1011;
    margin-top: "10px";
    min-height: 100%;
  }

  .ant-layout-sider {
    min-height: 100%;
    background-color: #000618;
  }

  #components-layout-demo-responsive {
    height: 100%;
  }

  .ant-layout-content {
    margin-bottom: 24px !important;
  }

  .right-layout {
    min-height: 100%;
  }

  .logo {
    .logo-image {
      margin-right: 5px;
      img {
        width: 50px;
      }
    }
    .logo-name {
      font-size: 24px;
      color: #177ddc;
      font-family: cursive;
      font-weight: bold;
      vertical-align: middle;
    }
  }
}

@media screen and (max-width: 992px) {
  .ant-layout-sider {
    position: absolute;
    z-index: 10;
  }

  .ant-layout {
    background-color: #19212c;
  }
}

@media screen and (min-width: 992px) {
  .ant-layout-content {
    border-top: 1px solid #177ddc;
  }
}

.ant-layout-content {
  margin: 0px !important;
}

.site-layout-background {
  padding: 0px !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ant-layout-sider {
  .left-menu-wrapper {
    height: calc(100% - 64px);
    border-right: 2px solid #177ddc;
    border-top: 1px solid #177ddc;

    .ant-menu-item-selected {
      border-right: 2px solid #177ddc;
    }
  }
}

.ant-table-container {
  overflow-x: auto;
}
