.wallet-home-container {
  min-height: 100%;
  img {
    width: 40px;
    height: 40px;
    // display: inherit;
    // margin: auto;
    margin-right: 20px;
    margin-left: 0px;
  }
  p {
    text-align: center;
  }
  .ant-card {
    cursor: pointer;
  }
  .wallet-asset-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-top: 1px solid #37474F;
    border-bottom: 1px solid #37474F;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: space-between;
  }

  @media screen and (min-width: 992px) {
    .wallet-asset-container {
      margin-left: 20px;
      margin-right: 20px;
    }

    .wallet-info-container {
      margin-bottom: 30px;
    }
  }

  .wallet-info-container {
    padding-top: 70px;
    padding-bottom: 20px;
    width: 100%;
    background-color: #232f3d;

    .wallet-balance {
      color: #fdfcff;
      font-size: 40px;
      font-weight: 600;
    }

    .wallet-title {
      color: #b6bec9;
      font-size: 15px;
      font-weight: 500;
    }

    .wallet-action {
      margin-top: 20px;
      .ant-btn-primary {
        background: #3275bb;
        border-color: #3275bb;
        color: #e5fcff;
      }
    }

    .wallet-action-name {
      margin-top: 10px;
      color: #e3eaf0;
      font-size: 15px;
      font-weight: 500;
    }
  }

}
